<template>
    <v-container>
        <Progress></Progress>
        <div style="height: 93px">
            <div class="height10"></div>
            <div v-if="status == 0" class="title text-sm-center text-xs-center">
                Переведите слово:
            </div>
            <v-flex class="sm10 offset-sm1">
                <v-alert v-if="status == 2 || status == 3"
                         :value="true"
                         type="success"
                         dismissible
                         style="margin: 0 auto"
                >
                    Правильно!
                </v-alert>
                <v-alert v-if="status == 1"
                         :value="true"
                         type="error"
                         dismissible
                         style="margin: 0 auto"
                >
                    Неверно. Правильный перевод "{{word.translation}}"
                </v-alert>

            </v-flex>
        </div>
        <div class="sentence display-3 text-xs-center text-sm-center ">
        <v-progress-circular
                :size="50"
                color="primary"
                indeterminate
                v-if="loader_ex"
        ></v-progress-circular>
        </div>
        <div class="sentence display-3 text-xs-center text-sm-center " v-if="!loader_ex">
            {{word.title}}
        </div>
        <div class="height30"></div>
        <v-flex xs12 sm8 offset-sm2 class="variants text-sm-center text-xs-center" v-if="!loader_ex">
            <button v-for="w in words" :key="w.id" class="v-btn" @click="checkAnswer(w.translation)">
                {{w.translation}}
            </button>
        </v-flex>
        <v-flex v-if="status != 0" xs12 class="text-sm-center text-xs-center">
            <button @click="next" class="v-btn primary v-btn--large">Дальше</button>
        </v-flex>
        <div class="height15"></div>
        <v-flex xs12 class="text-sm-center text-xs-center">
            <a class="">Больше не повазывать слово, я его хорошо знаю</a>
        </v-flex>
        <div class="height15"></div>
    </v-container>
</template>

<script>
    import Progress from "../Progress.vue";

    export default {
        name: "CheckWord",
        components: {Progress},
        data() {
            return {
                status: 0,
                loader: false
            }
        },
        props: {
            session_words_id: String
        },
        mounted: function () {
            this.$store.dispatch('GET_EXERCISE', this.session_words_id)
        },
        computed: {
            exercise: function () {
                return this.$store.getters.EXERCISE
            },
            word: function () {
                return this.$store.getters.WORD_EXERCISE
            },
            words: function () {
                var word = this.$store.getters.WORD_EXERCISE
                var words =  this.$store.getters.SESSION_WORDS_WORDS
                console.log("WORDS", words)
                console.log("WORD",word)
                words = words.filter((e)=> {
                    console.log("E",e,e.title == word.translation)
                    if (e.id != word.id){
                        return e
                    }
                })
                console.log("WORDS AFTER", words)
                words = words.slice(1,5)
                words.push(word)
                words.sort(() => Math.random() - 0.5);
                // return this.$store.getters.SESSION_WORDS_WORDS
                return words
            },
            loader_ex: function () {
                return this.$store.getters.LOADER_EX
            }
        },
        methods: {
            checkAnswer: function (answer) {
                console.log("ANSWER", answer)
                var word = this.$store.getters.WORD_EXERCISE
                var exe = this.$store.getters.EXERCISE
                if (answer == word.translation) {
                    var audio = new Audio('/assets/mp3/good_two.mp3');
                    audio.play();
                    this.status = 3
                }
                if (answer != word.translation) {
                    this.status = 1
                    var audio = new Audio('/assets/mp3/bad_one.mp3');
                    audio.play();
                }
                this.$store.dispatch('CHANGE_EXERCISE',
                    {
                        status: this.status,
                        id: exe.id
                    }
                )

            },
            next: function () {
                this.status = 0
                this.$store.dispatch('GET_EXERCISE', this.session_words_id)
            }
        }
    }
</script>

<style scoped>

</style>