<template>
    <v-container>
        <Progress></Progress>
        <v-alert
                :value="true"
                type="success"
                dismissible
        >
            Этот ответ верный
        </v-alert>
        <div class="sentence display-1 text-xs-center text-sm-center ">
            he leaned forward ______ her hand
        </div>
        <div class="height30"></div>
        <v-flex xs12 sm8 offset-sm2 class="variants text-sm-center text-xs-center">
            <button class="v-btn">to take</button>
            <button class="v-btn">to take</button>
            <button class="v-btn">to take</button>
            <button class="v-btn">to take</button>
            <button class="v-btn">to take</button>
            <button class="v-btn">to take</button>
            <button class="v-btn">to take</button>
        </v-flex>
        <v-flex xs12 class="text-sm-center text-xs-center">
            <button class="v-btn primary v-btn--large">Дальше</button>
        </v-flex>
        <div class="height15"></div>
        <v-flex xs12 class="text-sm-center text-xs-center">
            <a class="">Больше не повазывать слово, я его хорошо знаю</a>
        </v-flex>
        <div class="height15"></div>
    </v-container>
</template>

<script>
    import Progress from "../Progress.vue";
    export default {
        name: "Sentence",
        components: {Progress}
    }
</script>

<style scoped>

</style>