<template>
    <div>
        <v-container>
            <v-flex xs12 sm12>
                <v-text-field
                        label="Найти слово"
                        single-line
                        solo
                ></v-text-field>
            </v-flex>
            <div v-for="word in words" :key="word.id">
                <dictionary-word :word="word"></dictionary-word>
            </div>
            <div class="height15"></div>
            <div class="text-xs-center">
                <v-pagination
                        v-model="page"
                        :length="100"
                        :total-visible="7"
                        onchange=""
                ></v-pagination>
            </div>
        </v-container>
    </div>
</template>

<script>
    import DictionaryWord from "./DictionaryWord.vue";

    export default {
        name: "Dictionary",
        data() {
            return {
                page: 1
            }
        },
        components: {DictionaryWord},
        mounted: function () {
            this.$store.dispatch('CHECK_USER')
            var payload = {
                limit: 20,
                offset: 0
            }
            this.$store.dispatch('SET_WORDS',payload)
        },
        computed: {
            words: function () {
                return this.$store.getters.WORDS
            },
        },
        watch: {
            page: function (newPage, oldPage) {
                var payload = {
                    limit: 30,
                    offset: (newPage - 1) * 30
                }
                this.$store.dispatch('SET_WORDS',payload)
            }
        }
    }
</script>

<style scoped>

</style>