<template>
    <div offset-md1 offset-sm1 xs12 md10 sm10 class="word-item word-item-dictionary" style="border-color:green" >
        <v-layout sm10 xs10 md10>
            <v-flex sm4 xs6 md6>
                <div class="text-sm-left text-xs-left font-weight-bold title">{{word.title}} <span class="blue--text" v-if="word.transcription">[{{word.transcription}}]</span></div>
            </v-flex>
            <v-flex sm6 xs6 md6>
                <div class="text-sm-right text-xs-right grey--text text--darken-1 title">{{word.translation}}</div>
            </v-flex>
        </v-layout>
        <v-layout sm10 xs10 md10 style="margin-top:10px">
            <v-flex offset-sm6 offset-xs6 offset-md6 sm6 xs6 md6>
                <v-layout sm10 xs10 md10>
                    <v-flex sm4 xs4 md4 class="">
                        <div class="word-level text-sm-center text-xs-center float-right" v-if="word.level != 99">{{word.level}}</div>
                    </v-flex>
                    <v-flex sm4 xs4 md4 class="text-sm-right text-xs-right">
                        <v-icon class="black--text">volume_up</v-icon>
                    </v-flex>
                    <v-flex sm4 xs4 md4 class="text-sm-right text-xs-right">
                        <router-link class="text-decoration-none" :to="`/dictionary/${word.id}`">
                        <v-icon class="black--text">menu</v-icon>
                        </router-link>
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>

    </div>
</template>

<script>
    export default {
        name: "DictionaryWord",
        props: {
            word: Object
        }
    }
</script>

<style scoped>

</style>