<template>
    <div>
        <Progress></Progress>
        <v-flex class="sm12 xs12">

            <div class="headline text-xs-center text-sm-center">10 слов на сегодня(список)</div>
            <div v-for="word in words" :key="`${word.id}`">
                <v-flex sm10 offset-sm1>
                    <word-item :word="word"></word-item>
                </v-flex>
            </div>
        </v-flex>
        <div class="height10"></div>
        <v-flex sm12 class="text-sm-center">
            <button class="v-btn v-btn--large info" @click="addWords">Пройти тест</button>
            <button class="v-btn v-btn--large info" @click="addWords">Добавить слово</button>
            <button class="v-btn v-btn--large info" @click="increase_progress">Увеличить прогресс</button>
        </v-flex>

    </div>
</template>

<script>
    import WordItem from "./WordItem.vue";
    import Progress from "../Progress.vue";

    export default {
        name: "TenWords",
        components: {Progress, WordItem},
        mounted: function () {
            this.$store.dispatch('CHECK_USER')
            this.$store.dispatch('SET_WORDS_FROM_LIST')
        },
        computed: {
            words: function () {
                return this.$store.getters.WORDS
            },
        },
        methods: {
            addWords: function () {
                this.$store.dispatch('CREATE_SESSION_WORDS', 'catt')
            },
            increase_progress: function () {
                this.$store.dispatch('INCREASE_PROGRESS')
            },
            createSessionWords: function(){
                this.$store.dispatch('CREATE_SESSION_WORDS')
            }
        }
    }
</script>

<style scoped>

</style>