<template>
    <v-layout offset-md1 offset-sm1 xs12 md10 sm10 class="word-item white">
        <v-flex sm1 xs2 md1>
            <div class="word-item-checkbox"></div>
        </v-flex>
        <v-flex sm8 xs7 md8>
            <span class="title vertical-align-middle">{{show ? word.translation : word.title}} <span class="blue--text">[{{word.transcription}}]</span></span>

        </v-flex>

        <v-flex sm1 xs1 md1>
            <v-icon color="black darken-2" @click="show_hide()">remove_red_eye</v-icon>
        </v-flex>
        <v-flex sm1 xs1 md1>
            <router-link :to="`/dictionary/${word.id}`" class="no-decoration">
                <v-icon color="black darken-2">menu</v-icon>
            </router-link>
        </v-flex>
        <v-flex sm1 xs1 md1>
            <v-icon color="black darken-2">volume_up</v-icon>
        </v-flex>
    </v-layout>
</template>

<script>
    export default {
        name: "WordItem",
        props: {

            word: Object,
        },
        data() {
            return {
                show: false
            }
        },
        methods: {
            show_hide: function(){
                this.show = !this.show
            }
        }

    }
</script>

<style scoped>

</style>