<template>
    <div v-if="word">
        <v-flex class="sm12 xs12">
            <div class="display-2 text-sm-center text-md-center text-xs-center ">{{word.title}}</div>
        </v-flex>
        <div class="height30 sm12 xs12"></div>
        <v-flex class="sm12 xs12">
            <div class="headline text-sm-center text-md-center text-xs-center">[{{word.transcription}}]</div>
        </v-flex>
        <div class="height10 sm12 xs12"></div>
        <div class="sm12 md12 xs12 height10"></div>
        <v-flex class="sm12 xs12">
            <div class="word-card-cont-sound">
                <div class="v-btn word-card-cont-sound__round" tabindex="-1" @click="play">
                    <v-icon style="font-size: 100px">
                        volume_up
                    </v-icon>
                </div>
            </div>
            <audio id="myaudio">
                <source :src="word.audio">
            </audio>
        </v-flex>
        <div class="height15"></div>
        <v-flex v-if="hide_translation == false" class="sm12 xs12">
            <div class="display-1 text-sm-center text-md-center text-xs-center grey--text">{{word.translation}}</div>
        </v-flex>
    </div>
</template>

<script>

    import {speakIt} from "../../helpers/voice";

    export default {
        name: "WordWithVoice",
        props: {
            word: Object,
            hide_translation: Boolean,
        },
        methods: {
            play: function(){
                console.log(this.word)
                speakIt(this.word.title)
                // var aud = document.getElementById("myaudio")
                // aud.play()
            }
        }
    }
</script>

<style scoped>

</style>