<template>
    <v-container sm12>
        <word-with-voice :word="word"></word-with-voice>
        <div class="sm12 md12 xs12 height30"></div>
        <template>
            <v-tabs
                    centered
                    color="white"
                    grow
            >
                <v-tabs-slider color="grey"></v-tabs-slider>

                <v-tab class="sm4" href="#tab-all">
                    Все
                </v-tab>

                <v-tab class="sm4" href="#tab-meanings">
                    Значения
                </v-tab>

                <v-tab class="sm4" href="#tab-examples">
                    Примеры
                </v-tab>

                <v-tab class="sm4" href="#tab-media">
                    Медиа
                </v-tab>

                <v-tab-item value="tab-all">
                    <v-card flat class="grey lighten-3">
                        <v-container class="block-trans">
                            <div class="white-separator"></div>
                            <div v-for="v,i in meanings" :key="i">
                                <meaning :value="i" :meanings="v"></meaning>
                            </div>
                        </v-container>
                        <v-container class="block-examples">
                            <div class="white-separator"></div>
                            <div v-for="v,i in examples" :key="i">
                                <example :value="i" :examples="v"></example>
                            </div>
                            <example></example>
                        </v-container>
                    </v-card>
                </v-tab-item>

                <v-tab-item value="tab-meanings">
                    <v-card flat class="grey lighten-3">
                        <v-container class="block-trans">
                            <div class="white-separator"></div>
                            <div v-for="v,i in meanings" :key="i">
                                <meaning :value="i" :meanings="v"></meaning>
                            </div>
                        </v-container>
                    </v-card>
                </v-tab-item>

                <v-tab-item value="tab-examples">
                    <v-card flat class="grey lighten-3">
                        <v-container class="block-examples">
                            <div class="white-separator"></div>
                            <div v-for="v,i in examples" :key="i">
                                <example :value="i" :examples="v"></example>
                            </div>
                            <example></example>
                        </v-container>
                    </v-card>
                </v-tab-item>

                <v-tab-item value="tab-media">
                    <v-card flat class="grey lighten-3">

                    </v-card>
                </v-tab-item>
            </v-tabs>
        </template>

    </v-container>
</template>

<script>
    import WordWithVoice from "./WordWithVoice.vue";
    import Meaning from "../Meaning.vue";
    import Example from "../Example.vue";

    export default {
        name: "WordCard",
        components: {Example, Meaning, WordWithVoice},
        props: {
            id: String,
        },
        mounted: function () {
            this.$store.dispatch('CHECK_USER')
            this.$store.dispatch('SET_WORD', this.id)
            console.log("ID = ", this.id)
        },
        computed: {
            word: function () {
                return this.$store.getters.WORD
            },
            examples: function() {
                return this.$store.getters.EXAMPLES
            },
            meanings: function() {
                return this.$store.getters.MEANINGS
            }
        },
        methods: {
            wordToGood: function () {
                this.$store.dispatch('ADD_WORD', 'catt')
            }
        }
    }
</script>

<style scoped>

</style>