<template>
    <v-container>
        <Progress></Progress>
        <v-alert
                :value="true"
                type="success"
                dismissible
        >
            Этот ответ верный
        </v-alert>
        <word-with-voice :word="word" :hide_translation="true"></word-with-voice>
        <div class="height30"></div>
        <v-flex xs12 sm8 offset-sm2>
            <v-text-field
                    label="Введите перевод"
                    single-line
                    solo
            ></v-text-field>
        </v-flex>
        <v-flex xs12 class="text-sm-center text-xs-center">
        <button class="v-btn primary v-btn--large">Дальше</button>
        </v-flex>
        <div class="height15"></div>
        <v-flex xs12 class="text-sm-center text-xs-center">
            <a class="">Больше не показывать слово, я его хорошо знаю</a>
        </v-flex>
        <div class="height15"></div>
    </v-container>

</template>

<script>
    import WordWithVoice from "../words/WordWithVoice.vue";
    import Progress from "../Progress.vue";
    export default {
        name: "Repeat",
        components: {Progress, WordWithVoice},
        mounted: function () {
            this.$store.dispatch('CHECK_USER')
            this.$store.dispatch('SET_WORD')
        },
        computed: {
            word: function () {
                return this.$store.getters.WORD
            },
        },
        methods: {
            addWords: function() {
                this.$store.dispatch('ADD_WORD','catt')
            }
        }
    }
</script>

<style scoped>

</style>