@import '~vuetify/src/stylus/main'
@import 'cabinet.styl'
@import 'tests.styl'
@import 'words.styl'


.header-text


.full-width
    width 100%
.center-content
    justify-content center
    align-items center
    text-align center
h1
    color: cadetblue


.main-content
  margin-top: 82px

.top-menu
  box-shadow 0 2px 4px 0 rgba(0,0,0,0.50)
  padding: 5px 8px
  position: fixed
  width: 100%
  z-index: 5
.float-left
  float left
.float-right
  float right
.subprogress-number
  font-size 16px
  font-weight bold
.progress
  border-radius 25px
.progress-value
  color white
  font-weight bold

.word-item
  border-radius 8px
  padding 10px 10px
  margin-top 5px


.word-item-checkbox
  border 1px solid cornflowerblue
  width 30px
  margin auto
  height 30px
  border-radius 8px
  &.active
    background cornflowerblue

.no-decoration
  text-decoration none

.vertical-align-middle
  vertical-align middle
  vertical-align: -webkit-baseline-middle
.word-item
  background white
  span
    margin-top 3px
  i
    margin-top 3px


.word-item-dictionary
  border-left 10px solid grey



.height10
  height 10px
.height15
  height 15px
.height30
  height 30px


.word-card-cont-sound
  width 100%
  text-align center

.word-card-cont-sound__round
  margin auto 0
  background dodgerblue
  border-radius 100px
  width 100px
  height 100px

.block-trans
.block-trans-line
  margin-top 5px
.block-trans-header
  font-size 20px
  color #37C53A
  letter-spacing 0
  margin-bottom 10px
  font-weight bold
.block-trans-trans
  font-weight  bold
  font-size: 18px
  color: #000000
  letter-spacing 0
.block-trans-orig
  font-weight 400
  font-size: 18px
  color: #6D6565
  letter-spacing: 0
  text-align right

.white-separator
  height: 3px
  background white
  border-radius 50px
  margin-top 5px
  margin-bottom 5px

.block-examples-header
  font-size 20px
  color #37C53A
  letter-spacing 0
  margin-bottom 10px
  font-weight bold
.block-examples-number
  font-family: Roboto-Regular
  font-size: 16px
  color: #656565
  letter-spacing: 0
  border: 1px solid #656565
  border-radius: 10px
  width: 30px
  height: 30px
  text-align: center
  padding-top: 3px
.block-examples-orig
  font-family Roboto-Regular
  font-size 20px
  color #656565
  letter-spacing 0
.block-examples-trans
  font-family Roboto-LightItalic
  font-size 20px
  color #656565
  letter-spacing 0


.main-circular
  position absolute
  .v-progress-circular__underlay
    opacity 0

.progress-value
  font-size 30px
  font-weight bold
  color grey

.cont-for-progress
  width 200px
  margin 0 auto
  margin-top 50px
  height 250px

.margin-auto
  margin 0 auto

.word-level
  width 30px
  height 30px
  border 1px solid grey
  color grey
  font-weight bold
  font-size 20px
  border-radius 8px

.text-decoration-none
  text-decoration none