.col-stat-words
  width 100px

.col-stat-words-header
  font-family Roboto-Regular
  font-size 16px
  color #000000
  letter-spacing 0
.col-stat-col
  background #D8D8D8
  box-shadow 0 2px 4px 0 rgba(0,0,0,0.50)
  border-radius 8px
  width 100px
  height 150px

.col-stat-fill
  border-radius 0 0 8px 8px



.col-stat-value
  font-family Roboto-Bold
  font-size 20px
  color #FFFFFF
  letter-spacing 0
