.progress-style
  text-align:right
  padding-right:5px
  color: white
  font-weight:bold
  background #4f7be7
  -webkit-transition: width 1s ease-out 0.5s;
  -moz-transition: width 1s ease-out 0.5s;
  -o-transition: width 1s ease-out 0.5s;
  transition: width 1s ease-out 0.5s;