<template>
    <v-container>
        <div class="height30"></div>
        <div class="height30"></div>
        <div class="sentence display-1 text-xs-center text-sm-center ">
            {{cong.text}}
        </div>
        <div class="height30"></div>
        <div class="height30"></div>
        <router-link to="/cabinet" class="v-btn v-btn--block v-btn--large success">Дальше</router-link>
    </v-container>
</template>

<script>
    export default {
        data(){
            return {
                congratulations: [
                    {text: "Поздравляем! Делаете Успехи"},
                    {text: "Отлично!"}
                ]

            }
        },
        name: "Congratulation",
        mounted: function(){
            var audio = new Audio('/assets/mp3/complete.mp3');
            audio.play();
        },
        computed: {
            cong: function(){
                return this.congratulations[0]
            }
        }
    }
</script>

<style scoped>

</style>