<template>
    <div v-if="examples.length != 0">
        <v-flex sm12 xs12 md12>
            <div class="block-examples-header">{{meaningDefinition}}</div>
        </v-flex>
        <v-layout sm12 xs12 md12 v-for="(exam,i) in examples" :key="exam.id">
            <v-flex sm1 xs2 md1>
                <div class="block-examples-number">
                    {{i + 1}}
                </div>
            </v-flex>
            <v-flex sm11 xs11 md11>
                <div class="block-examples-orig">
                    {{exam.definition}}
                </div>
                <div class="block-examples-trans">
                    {{exam.text}}
                </div>
            </v-flex>
        </v-layout>
    </div>
</template>

<script>
    export default {
        name: "Example",
        props: {
            examples: Array,
            value: String,
        },
        computed: {
            meaningDefinition: function () {
                switch (this.value) {
                    case "verb":
                        return "Глагол"
                    case "noun":
                        return "Имя существительное"
                    case "adjective":
                        return "Прилагательное"
                    case "adverb":
                        return "Наречие"
                    default:
                        return "неизвестно"
                }
            }
        }
    }
</script>

<style scoped>

</style>