<template>
    <div>
        <ul>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ul>
        <button v-on:click="con">HEEE</button>
        <div style="font-size: 13px;padding-top: 30px">{{name}}</div>
    </div>
</template>

<script>
    export default {
        name: "ForComponent",
        props: {
            todos: {
                type: Array,
                required: false
            },
            name: {
                type: String,
            }
        },
        methods:{
            con(){
                console.log("HEY")
                console.log(this.todos)
                this.todos = Object.assign(this.todos,{text: 666})
                this.name = this.name.split('').reverse().join('')
            }
        },

    }
</script>

<style scoped>

</style>