<template>
    <div v-if="meanings.length != 0">
        <v-flex sm12 xs12 md12>
            <div class="block-trans-header">{{meaningDefinition}}</div>
        </v-flex>
        <v-layout v-for="mean in meanings" :key="mean.title" sm8 xs12 md8 class="block-trans-line">
            <v-flex sm6 xs6 md6>
                <div class="block-trans-trans">
                    {{mean.title}}
                </div>
            </v-flex>
            <div class="height30"></div>
            <v-flex sm6 xs6 md6>
                <div class="block-trans-orig">
                    {{mean.synonyms.map((e) => {return e.title}).join(", ")}}
                </div>
            </v-flex>
        </v-layout>
    </div>
</template>

<script>
    export default {
        name: "Meaning",
        props: {
            meanings: Array,
            value: String,
        },
        computed: {
            meaningDefinition: function () {
                switch (this.value) {
                    case "verb":
                        return "Глагол"
                    case "noun":
                        return "Имя существительное"
                    case "adjective":
                        return "Прилагательное"
                    case "adverb":
                        return "Наречие"
                    default:
                        return "неизвестно"
                }
            }
        }
    }
</script>

<style scoped>

</style>