<template>
    <v-layout row wrap>
        <v-flex offset-sm1 sm10 offset-xs1 xs10>
            <v-progress-linear
                    color="info"
                    height="20"
                    :value="progress.value"
                    class="progress"
            >
                <div class="progress-style" :style="`width:${progress ? progress : 5}%;`">
                    {{progress ? progress : 5}}%
                </div>
            </v-progress-linear>
        </v-flex>
        <v-flex offset-sm1 sm10 offset-xs1 xs10>
            <div class="float-left subprogress-number">{{1}}</div>
            <div class="float-right subprogress-number">{{2}}</div>
        </v-flex>
    </v-layout>
</template>

<script>
    export default {
        name: "Progress",
        computed: {
            progress: function(){
                console.log("PROGRESS", this.$store.getters.SESSION_WORDS_PROGRESS)
                return this.$store.getters.SESSION_WORDS_PROGRESS
            }
        }
    }
</script>

<style scoped>

</style>