<template>
    <div>
    <input class="search-input" type="text" v-model="query">
        <button @click="search()">Найти</button>
    </div>
</template>

<script>



    export default {
        name: "Search",
        data(){
            return {
                query: ''
            }
        },

        methods: {
            search(query){
                this.$store.dispatch('search', this.query)
            }
        }
    }


</script>

<style scoped>

</style>