<template>
    <div class="result">
        <div class="items" v-for="item in results">
            <a class="item" :href="item.url">{{item.title}}</a>
        </div>
    </div>
</template>

<script>
    export default {
        name: "SearchResult",
        computed: {
            results(){
                return this.$store.getters.results
            }
        }
    }
</script>

<style scoped>

</style>