<template>
    <h2>Maxim {{name}}</h2>
</template>

<script>
    export default {
        name: "SecondComponent",
        props: {
            name: {
                type: String,
                required: true
            }
        }
    }
</script>

<style scoped>

</style>