<template>
    <div>
        <div class="height30"></div>
        <v-layout>
            <v-flex sm3 xs4 class="text-sm-center">
                <v-avatar
                        size="100px"
                        color="grey lighten-4"

                >
                    <img src="/assets/img/human.png" alt="avatar">
                </v-avatar>
            </v-flex>
            <v-flex sm10 xs4>
                <div class="avatar-name display-2">
                    {{user.name}}
                </div>
                <div class="height10"></div>
                <div class="avatar-name grey--text headline">
                    Уровень {{user.level}}
                </div>
            </v-flex>
        </v-layout>
        <div class="height30"></div>
        <div class="white-separator"></div>
        <div class="sm12 md12 xs12">
            <v-flex class="cont-for-progress">
                <v-progress-circular
                        :size="200"
                        :width="30"
                        :value="data_graph.high_abs"
                        color="success"
                        class="main-circular"
                >
                </v-progress-circular>
                <v-progress-circular
                        :rotate="data_graph.high"
                        :size="200"
                        :width="30"
                        :value="data_graph.middle_abs"
                        color="yellow darken-2"
                        class="main-circular"
                >
                </v-progress-circular>
                <v-progress-circular
                        :rotate="data_graph.high + data_graph.middle"
                        :size="200"
                        :width="30"
                        :value="data_graph.low_abs"
                        color="error"
                        class="main-circular"
                >
                    <div class="progress-value">{{words_sum}}</div>
                </v-progress-circular>
            </v-flex>
        </div>
        <v-layout>
            <v-flex sm4 xs4 md4>
                <div class="col-stat-words margin-auto">
                    <div class="col-stat-words-header">Сильные<br>слова</div>
                    <div class="height10"></div>
                    <div class="col-stat-col" :style="`padding-top: ${data_graph.high_col < 25 ? 150 - 25 : 150 - data_graph.high_col}px`">
                        <div class="col-stat-fill green"
                             :style="`height:${data_graph.high_col < 25 ? 25 : data_graph.high_col}px`">
                            <div class="col-stat-value text-sm-center text-xs-center">{{user.words.high}}</div>
                        </div>
                    </div>
                    <div class="height10"></div>
                    <a class="" @click="createSession('high')">Повторить слова</a>
                </div>

            </v-flex>
            <v-flex sm4 xs4 md4>
                <div class="col-stat-words margin-auto">
                    <div class="col-stat-words-header">Средние<br>слова</div>
                    <div class="height10"></div>
                    <div class="col-stat-col" :style="`padding-top: ${data_graph.middle_col < 25 ? 150 - 25 : 150 - data_graph.middle_col}px`">
                        <div class="col-stat-fill yellow darken-2"
                             :style="`height:${data_graph.middle_col < 25 ? 25 : data_graph.middle_col}px`">
                            <div class="col-stat-value text-sm-center text-xs-center">{{user.words.middle}}</div>
                        </div>
                    </div>
                    <div class="height10"></div>
                    <a class="" @click="createSession('middle')">Повторить слова</a>
                </div>

            </v-flex>
            <v-flex sm4 xs4 md4>
                <div class="col-stat-words margin-auto">
                    <div class="col-stat-words-header">Слабые<br>слова</div>
                    <div class="height10"></div>
                    <div class="col-stat-col" :style="`padding-top: ${data_graph.low_col < 25 ? 150 - 25 : 150 - data_graph.low_col}px`">
                        <div class="col-stat-fill red"
                             :style="`height:${data_graph.low_col < 25 ? 25 : data_graph.low_col}px`">
                            <div class="col-stat-value text-sm-center text-xs-center">{{user.words.low}}</div>
                        </div>
                    </div>
                    <div class="height10"></div>
                    <a class="" @click="createSession('low')">Повторить слова</a>
                </div>

            </v-flex>
        </v-layout>
        <div class="height30"></div>
        <div class="display-1 text-xs-center text-sm-center text-md-center">
            Поздравляем!!!
            <br>
            У вас {{user.level}} уровень
        </div>
        <div class="height30"></div>
        <div class="headline text-xs-center text-md-center text-sm-center">
            До следующего уровня вам нужно выучить {{user.word_count_next_level ? user.word_count_next_level : 300}} слов
        </div>
        <div class="height30"></div>
        <v-layout row wrap>
            <v-flex offset-sm1 sm10 offset-xs1 xs10>
                <v-progress-linear
                        color="info"
                        height="50"
                        :value="progress_value"
                        class="progress"
                >
                    <div :style="`width:${progress_value}%;
                    text-align:right;
                    padding-right:5px;
                    color:white;
                    font-weight:bold;
                    font-size: 20px;
                    margin-top: 10px`">{{progress_value}}%
                    </div>
                </v-progress-linear>
            </v-flex>
            <v-flex offset-sm1 sm10 offset-xs1 xs10>
                <div class="float-left subprogress-number" style="font-size: 25px">{{user.level}}</div>
                <div class="float-right subprogress-number" style="font-size: 25px">{{user.level + 1}}</div>
            </v-flex>
        </v-layout>
        <div class="height30"></div>
    </div>

</template>

<script>

    export default {
        name: "Cabinet",
        created: function () {
            this.$store.dispatch('CHECK_USER')
        },
        computed: {
            user: function () {
                return this.$store.getters.USER
            },
            words_sum: function () {
                return this.$store.getters.USER_SUM_WORDS
            },
            data_graph: function () {
                return this.$store.getters.USER_DATA_GRAPH
            },
            progress_value: function () {
                var user = this.$store.getters.USER
                if (user.word_count_next_level) {
                    return Math.round(((user.all_words_on_level - user.word_count_next_level) / user.all_words_on_level) * 100)
                } else {
                    return 0
                }
            }
        },
        methods: {
            createSession: function (kind) {
                var payload = {}
                payload["kind"] = kind
                this.$store.dispatch('CREATE_SESSION_WORDS', payload)
            },
        }
    }
</script>

<style scoped>

</style>