<template>
    <v-app id="inspire" class="overflow-hidden"
           style="position: relative;">

        <v-card-title class="top-menu white ">
            <v-flex sm1 xs2 class="headline">
                <router-link to="/cabinet"><v-img src="/assets/img/logo.png" class="flex offset-sm2 sm8 xs12" /></router-link>
            </v-flex>
            <v-flex offset-sm1 sm8 xs8>
                <v-card-text>
                    <div class="header-text title">KWords - в начале было слово</div>
                </v-card-text>
            </v-flex>

            <v-spacer></v-spacer>
            <v-btn
                    dark
                    icon
                    black
                    @click.stop="drawer = !drawer"
            >
                <v-icon large color="black darken-2">menu</v-icon>
            </v-btn>
        </v-card-title>
        <v-layout row wrap grey lighten-2>

            <v-flex xs12 sm8 offset-sm2 grey lighten-3>


                <v-spacer></v-spacer>

                <v-flex sm12 xs12 md12 class="container main-content">
                    <v-navigation-drawer
                            v-model="drawer"
                            fixed
                            temporary
                            right

                    >
                        <v-list class="pa-1">
                            <v-list-tile avatar>
                                <v-list-tile-avatar>
                                    <img src="/assets/img/human.png">
                                </v-list-tile-avatar>

                                <v-list-tile-content>
                                    <v-list-tile-title>{{name}}</v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                        </v-list>

                        <v-list class="pt-0" dense>
                            <v-divider></v-divider>

                            <v-list-tile
                                    v-for="link in mainLinks" :key="link.title" :name="link.title" @click=""
                            >
                                <v-list-tile-action>
                                    <v-icon>{{link.icon}}</v-icon>
                                </v-list-tile-action>

                                <v-list-tile-content>
                                    <v-list-tile-title>
                                        <router-link class="black--text" :to="link.url">{{link.title}}</router-link>
                                    </v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                        </v-list>
                    </v-navigation-drawer>

                    <router-view></router-view>
                </v-flex>

            </v-flex>
        </v-layout>
    </v-app>
</template>
<script>
    import HelloComponent from './components/HelloComponent.vue'
    import SecondComponent from "./components/SecondComponent.vue";
    import ForComponent from "./components/ForComponent.vue";
    import Search from "./components/Search.vue";
    import SearchResult from "./components/SearchResult.vue";

    export default {
        data() {
            return {
                first_name: "",
                last_name: "",
                name: "name",
                img: "https://randomuser.me/api/portraits/men/85.jpg",
                drawer: null,
                todos: [{text: 1234}, {text: 4321}, {text: 555}],
                mainLinks: [{icon: "poll", title: "Мой прогресс", url: "/my_progress"},
                    {icon: "calendar_today", title: "10 слов на сегодня", url: "/ten_words"},
                    {icon: "playlist_add_check", title: "Повторение", url: "/repeat"},
                    {icon: "assignment", title: "Словарь", url: "/dictionary"},
                    {icon: "settings", title: "Настройки", url: "/setting"},
                ]
            }
        },
        mounted: function () {
            if (localStorage.me){
                var user_data = JSON.parse(localStorage.getItem("me"))
                this.first_name = user_data.first_name
                this.last_name = user_data.first_name
                this.name = user_data.name
            }
            console.log("newpage")
        },
        components: {
            SearchResult,
            Search,
            ForComponent,
            SecondComponent,
            HelloComponent
        },
    }
</script>
<style>

</style>