<template>
    <v-container>
        <div class="height30"></div>
        <v-alert v-if="user_error"
                 :value="true"
                 type="error"
                 dismissible
                 style="margin: 0 auto"
        >
            Такой пользователь уже существует
        </v-alert>
        <div class="height15"></div>
        <v-flex xs12 sm8 offset-sm2>
            <v-flex xs12 sm12>
                <v-text-field
                        v-model="email"
                        :rules="[rules.required, rules.email]"
                        label="E-mail"
                        single-line
                        solo
                ></v-text-field>
            </v-flex>
        </v-flex>
        <v-flex xs12 sm8 offset-sm2>
            <v-text-field
                    label="Имя"
                    single-line
                    solo
                    v-model="first_name"
            ></v-text-field>
        </v-flex>
        <v-flex xs12 sm8 offset-sm2>
            <v-text-field
                    label="Фамилия"
                    single-line
                    solo
                    v-model="last_name"
            ></v-text-field>
        </v-flex>
        <v-flex xs12 sm8 offset-sm2>
            <v-text-field
                    v-model="password"
                    :append-icon="show ? 'visibility' : 'visibility_off'"
                    :rules="[rules.required, rules.min]"
                    :type="show ? 'text' : 'password'"
                    name="input-10-1"
                    label="Пароль"
                    hint="At least 8 characters"
                    counter
                    single-line
                    solo
                    @click:append="show = !show"
            ></v-text-field>
        </v-flex>
        <v-flex xs12 class="text-sm-center text-xs-center">
            <button class="v-btn primary v-btn--large" @click="registration()">Регистрация</button>
            <router-link to="/sign_in" class="">Войти</router-link>
        </v-flex>
        <div class="height15"></div>
    </v-container>
</template>

<script>
    export default {
        name: "SignUp",
        data() {
            return {
                email: "",
                first_name: "",
                last_name: "",
                password: "",
                show: false,
                rules: {
                    required: value => !!value || 'Должно быть заполнено',
                    min: v => v.length >= 8 || 'Минимум 8 символов',
                    emailMatch: () => ('The email and password you entered don\'t match'),
                    email: value => {
                        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                        return pattern.test(value) || 'Неправильный формат'
                    }
                }
            }
        },
        mounted: function(){
            if (localStorage.getItem('me')) {
                this.$router.push("cabinet")
                // try {
                //     this.first_name = JSON.parse(localStorage.getItem('me'))["first_name"];
                //     this.last_name = JSON.parse(localStorage.getItem('me'))["last_name"];
                //     this.phone = JSON.parse(localStorage.getItem('me'))["phone"];
                // } catch(e) {
                //     localStorage.removeItem('me');
                // }
            }
            console.log("localstorage", localStorage.me)
            // // console.log("localstorage id", JSON.parse(localStorage.getItem("me")))
            // this.first_name = localStorage.me.first_name
            // console.log(this.first_name)
        },
        methods: {
            registration: function () {
                console.log(this.email)
                console.log(this.first_name)
                console.log(this.last_name)
                var result = {}
                result["email"] = this.email
                result["last_name"] = this.last_name
                result["first_name"] = this.first_name
                result["password"] = this.password
                this.$store.dispatch('REG_USER',result)
            }
        },
        computed: {
            user_error: function () {
                return this.$store.getters.USER_ERROR
            },
        }
    }
</script>

<style scoped>

</style>