<template>
    <v-container>
        <div class="height30"></div>
        <v-alert v-if="user_error"
                 :value="true"
                 type="error"
                 dismissible
                 style="margin: 0 auto"
        >
            Неправильное имя или пароль
        </v-alert>
        <div class="height15"></div>
        <v-flex xs12 sm8 offset-sm2>
            <v-flex xs12 sm12>
                <v-text-field
                        v-model="email"
                        :rules="[rules.required, rules.email]"
                        label="E-mail"
                        single-line
                        solo
                ></v-text-field>
            </v-flex>
        </v-flex>
        <v-flex xs12 sm8 offset-sm2>
            <v-text-field
                    v-model="password"
                    :append-icon="show ? 'visibility' : 'visibility_off'"
                    :rules="[rules.required, rules.min]"
                    :type="show ? 'text' : 'password'"
                    name="input-10-1"
                    label="Пароль"
                    hint="At least 8 characters"
                    counter
                    single-line
                    solo
                    @click:append="show = !show"
            ></v-text-field>
        </v-flex>
        <v-flex xs12 class="text-sm-center text-xs-center">
            <button class="v-btn success v-btn--large" @click="enter()">Войти</button>
        </v-flex>
        <div class="height15"></div>
        <v-flex xs12 class="text-sm-center text-xs-center">
            <router-link to="/sign_up" class="">Регистрация</router-link>

        </v-flex>
        <div class="height15"></div>
    </v-container>
</template>

<script>
    export default {
        name: "SignIn",
        data(){
            return {
                email: '',
                password: '',
                show: false,
                rules: {
                    required: value => !!value || 'Должно быть заполнено',
                    min: v => v.length >= 8 || 'Минимум 8 символов',
                    emailMatch: () => ('The email and password you entered don\'t match'),
                    email: value => {
                        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                        return pattern.test(value) || 'Неправильный формат'
                    }
                }
            }
        },
        methods: {
            enter: function() {
                console.log(this.email)
                var result = {}
                result["email"] = this.email
                result["password"] = this.password
                this.$store.dispatch('LOGIN_USER',result)
            }
        },
        computed: {
            user_error: function () {
                return this.$store.getters.USER_ERROR
            },
        }
    }
</script>

<style scoped>

</style>